@model Gazi_BMT_308_Final.Models.Book

<h2>Kitap Silme</h2>

<p>Bu kitabı silmek istediğinize emin misiniz?</p>

<form asp-action="DeleteConfirmed">
    <input type="hidden" asp-for="Id" />
    <p>
        <strong>Başlık:</strong> @Model.Title
    </p>
    <p>
        <strong>Yazar:</strong> @Model.Author
    </p>
    <p>
        <strong>Yayım Yılı:</strong> @Model.PublicationYear
    </p>
    <button type="submit" class="btn btn-danger">Sil</button>
</form>
