@{
    ViewData["Title"] = "Hakkımda";
}

<h2 class="text-center">@ViewData["Title"]</h2>

<div class="text-center">
    <p><strong>İsim: </strong> @ViewBag.Name</p>
    <p><strong>Okul Numarası: </strong> @ViewBag.StudentNumber</p>
    <p><strong>Email: </strong> @ViewBag.Email</p>
</div>
