@model Gazi_BMT_308_Final.ViewModels.LogoutViewModel

<h2>Logout</h2>

<form method="post">
    <p>Çıkış yapmak istediğinize emin minisiz?</p>
    <button type="submit" class="btn btn-warning">Çıkış Yap</button>
</form>
